<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<clear />
		<add key="local" value="LocalNuGetFeed" />
		<add key="local-in-ci" value="..\s\LocalNuGetFeed" /> <!-- the build steps copies the config to a temp location, so relative paths must be changed -->
		<add key="Nuget.org" value="https://api.nuget.org/v3/index.json" />
	</packageSources>
</configuration>